<ion-content>
  <ion-item color="transparent">
    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
    <ion-label position="floating">Senha</ion-label>
    <ion-input
      required
      [(ngModel)]="user.password"
      [ngModelOptions]="{standalone: true}"
      type="password"
    ></ion-input>
  </ion-item>

  <ion-item color="transparent">
    <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
    <ion-label position="floating">Confirmação de senha</ion-label>
    <ion-input
      required
      [(ngModel)]="user.passwordConfirmation"
      [ngModelOptions]="{standalone: true}"
      type="password"
    ></ion-input>
  </ion-item>

  <button class="button-custom" (click)="submit()">Trocar senha</button>
</ion-content>
