.login-container {
  height: 100vh;
  background: url("../../../assets/background.jpg") center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img-logo {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  width: 100%;
  height: 15rem;
}

form {
  width: 100%;
  max-width: 500px;

  margin: 32px auto;
  padding: 32px 64px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.button-custom {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  background: linear-gradient(
    var(--ion-color-primary),
    var(--ion-color-secondary)
  );
}

h3 {
  background: -webkit-linear-gradient(#d31bea, #ecd6ec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
