ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-content {
  --background: linear-gradient(
    0deg,
    rgba(232, 117, 194, 1) 5%,
    rgba(167, 127, 240, 1) 55%,
    rgba(64, 70, 138, 1) 100%
  );
}

ion-list {
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}
