<ion-grid class="container">
  <ion-row class="ion-align-items-center">
    <ion-col size="2">
      <img src="{{coinImage}}" alt="{{coinName}}"/>
    </ion-col>
    <ion-col size="8" >
      <ion-row >
        <span>{{coinName}}</span>
      </ion-row>
      <ion-row class="ion-align-items-end" >
        <span>{{coinQTD}}</span>
      </ion-row>
    </ion-col>
    <ion-col size="2">
      <ion-icon class="goIcon" name="chevron-forward-outline">
      </ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
