<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Minha Conta </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img id="background-image" src="../../assets/point-sphere.png" />
  <ul id="coin-card-list">
    <li *ngFor="let coin of userCoins">
      <app-coincard
        backgroundColor="{{coin.backgroundColor}}"
        coinImage="{{coin.coinImage}}"
        coinName="{{coin.coinName}}"
        quantity="{{coin.quantity}}"
        fontColor="{{coin.fontColor}}"
      ></app-coincard>
    </li>
  </ul>
  <ul id="coin-item-list">
    <li *ngFor="let item of coinItems">
      <app-coinitem
        (click)="navigateToCryptoChart(item.coinName)"
        coinImage="{{item.coinImage}}"
        coinName="{{item.coinName}}"
        trending="{{item.trending}}"
        coinPrice="{{item.price}}"
      ></app-coinitem>
    </li>
  </ul>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button id="deposit-button" color="primary" class="button" (click)="navigate('deposit')">Depositar</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button  color="secondary" class="button" (click)="navigate('exchange')">Trocar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
