ul {
  list-style: none;
}

#background-image {
  position: absolute;
  top: -70px;
  z-index: -1;
}

#coin-card-list {
  display: flex;
  overflow-x: auto;
  li:not(:first-child) {
    margin-left: 32px;
  }
}

ion-content {
  --background: linear-gradient(
    0deg,
    rgba(232, 117, 194, 1) 5%,
    rgba(167, 127, 240, 1) 55%,
    rgba(64, 70, 138, 1) 100%
  );

  margin-right: 30px;
}

#coin-item-list {
  li:not(:first-child) {
    margin-top: 16px;
  }
}

.button {
  width: 100%;
  padding: 16px 0px;
  border-radius: 8px;
  background: var(--ion-color-primary);

  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 16px;
}

.button:hover {
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
}

#deposit-button {
  background-color: #7e7efd;
}
