<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ul id="coin-card-list">
      <li *ngFor="let coin of userCoins">
        <app-coincard
          backgroundColor="{{coin.backgroundColor}}"
          coinImage="{{coin.coinImage}}"
          coinName="{{coin.coinName}}"
          quantity="{{coin.quantity}}"
          fontColor="{{coin.fontColor}}"
        ></app-coincard>
      </li>
    </ul>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
