<ion-header>
  <ion-toolbar>
    <ion-title>
      Valor das Cryptos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card (click)="navigateToCryptoChart('BITCOIN')">
      <ion-card-header>
        BTC em BRL
      </ion-card-header>
      <ion-card-content>
        <canvas baseChart [datasets]="btcChartData" [colors]="btcChartColor" [options]="chartOptions" [chartType]="chartType" [labels]="chartLabels"></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="navigateToCryptoChart('ETHEREUM')">
      <ion-card-header>
        ETH em BRL
      </ion-card-header>
      <ion-card-content>
        <canvas baseChart [datasets]="ethChartData" [colors]="ethChartColor" [chartType]="chartType" [labels]="chartLabels"></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="navigateToCryptoChart('LITECOIN')">
      <ion-card-header>
        LTC em BRL
      </ion-card-header>
      <ion-card-content>
        <canvas baseChart [datasets]="ltcChartData" [colors]="ltcChartColor" [chartType]="chartType" [labels]="chartLabels"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
