<ion-content [fullscreen]>
  <main class="login-container ion-padding">
    <div class="img-logo">
      <img src="../../../assets/Logo.png" alt="Logo" />
    </div>
    <form standalone (ngSubmit)="Login()">
      <ion-item color="transparent">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label position="floating">Nickname</ion-label>
        <ion-input
          required
          [(ngModel)]="user.nickname"
          [ngModelOptions]="{standalone: true}"
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item color="transparent">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="floating">Senha</ion-label>
        <ion-input
          required
          [(ngModel)]="user.password"
          [ngModelOptions]="{standalone: true}"
          type="password"
        ></ion-input>
      </ion-item>

      <button ion-button class="ion-margin-top button-custom" type="submit">
        Logar
      </button>
    </form>

    <footer class="login-footer">
      <ion-card>
        <ion-text
          >Não possui conta?
          <ion-link [routerLink]="['/registration']"
            >Criar uma</ion-link
          ></ion-text
        ><br />
        <ion-text
          >Esqueceu a senha?
          <ion-link [routerLink]="['/forgot-password']"
            >Recupere aqui</ion-link
          ></ion-text
        >
      </ion-card>
    </footer>
  </main>
</ion-content>
