<ion-content [fullscreen] class="ion-padding">
  <main class="centralize">
    <div class="align-items">
      <ion-avatar><img src="assets/icon/favicon.png" /></ion-avatar>
      <ion-text class="margin">BTC-project-cafe</ion-text>
    </div>

    <div>
      <button
        class="top"
        expand="block"
        color="primary"
        [routerLink]="['/login']"
      >
        Login
      </button>
      <button
        class="bottom"
        expand="block"
        color="secondary"
        [routerLink]="['/registration']"
      >
        Sign up
      </button>
    </div>
  </main>
</ion-content>
