<ion-content>
  <main class="login-container ion-padding">
    <div class="img-logo">
      <img src="../../../assets/logo-register.png" alt="Logo" />
    </div>
    <form standalone (ngSubmit)="register()">
      <ion-item color="transparent">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          required
          [(ngModel)]="createUser.email"
          [ngModelOptions]="{standalone: true}"
          type="email"
        ></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label position="floating">Confirmação de email</ion-label>
        <ion-input
          required
          [(ngModel)]="createUser.emailConfirmation"
          [ngModelOptions]="{standalone: true}"
          type="text"
        ></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label position="floating">Nickname</ion-label>
        <ion-input
          required
          [(ngModel)]="createUser.nickname"
          [ngModelOptions]="{standalone: true}"
          type="text"
        ></ion-input>
      </ion-item>

      <ion-item color="transparent">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="floating">Senha</ion-label>
        <ion-input
          required
          [(ngModel)]="createUser.password"
          [ngModelOptions]="{standalone: true}"
          type="password"
        ></ion-input>
      </ion-item>

      <ion-item color="transparent">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-label position="floating">Confirmação de senha</ion-label>
        <ion-input
          required
          [(ngModel)]="createUser.passwordConfirmation"
          [ngModelOptions]="{standalone: true}"
          type="password"
        ></ion-input>
      </ion-item>

      <button ion-button class="ion-margin-top button-custom" type="submit">
        Registar
      </button>
    </form>
  </main>
</ion-content>
