.coin-card {
  width: 169px;
  height: 219px;

  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}
.coin-name {
  color: #303962;
  font-weight: 500;
  font-size: 24px;
}
.coin-quantity {
  font-size: 18px;
}
.card-content {
  margin-top: 40px;
}
