<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-icon
        (click)="goBack()"
        class="back-button"
        name="arrow-back-outline"></ion-icon>
        <ion-title>Deposito</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <main class="centralize">
    <div>
      <h2 style="text-align: center">Deposite as crypto neste endereço</h2>
      <img src="../../../assets/qr-code.png" alt="qrcode" />
      <h3 style="text-align: center">{{encodedData}}</h3>
    </div>
  </main>
</ion-content>
